<section class="section_1 section_ajustable">
	<div class="container">
		<h3 class="text-center titulo_azul">CUOTAS MODERADORAS Y COPAGOS</h3><br>
		<div class="container-fluid">
		    <h4>1. Referente: Salario Mínimo</h4><table class="table table-responsive text-center text-center text-center">
		    	<tbody><tr>
		    		
		    	</tr>
		        <tr>
		            <td><span class="text-info"></span></td>
		            <td><span class="text-info"><strong>2016</strong></span></td>
		            <td><span class="text-info"><strong>2017</strong></span></td>
		            <td><span class="text-info"><strong>Incremento</strong></span></td>
		        </tr>
		        <tr>
		            <td><span class="text-info">SMLMV (1)</span></td>
		            <td><span class="text-info">$689.455</span></td>
		            <td><span class="text-info">$737.717</span></td>
		            <td><span class="text-info">7.00%</span></td>
		        </tr>
		        <tr>
		            <td><span class="text-info">SMLMV (2)</span></td>
		            <td><span class="text-info">$22.982</span></td>
		            <td><span class="text-info">$24.591</span></td>
		            <td><span class="text-info">7.00%</span></td>
		        </tr>
		    </tbody></table>
		    <p>(1) Salario Mínimo Legal Mensual Vigente – Decreto 2209 de 2016</p>
		    <p>(2) Salario Mínimo Legal Diario Vigente</p>
		    <br/>
		    <h4>2. Régimen Contributivo</h4>
		    <h5>2.1. Valor de la Cuota Moderadora 2017</h5>
		    <table class="table table-responsive text-center text-center">
		        <tbody><tr>
		            <td><span class="text-info"><strong>Rango de IBC En smlmv (1)</strong></span></td>
		            <td><span class="text-info"><strong>Cuota en % del Smldv (2)</strong></span></td>
		            <td><span class="text-info"><strong>Valor cuota Moderadora 2016</strong></span></td>
		            <td><span class="text-info"><strong>Valor cuota Moderadora 2017</strong></span></td>
		            <td><span class="text-info"><strong>Incremento 2017/2016</strong></span></td>
		        </tr>
		        <tr>
		            <td><span class="text-info">MENOR A 2 SMLMV</span></td>
		            <td><span class="text-info">11.70%</span></td>
		            <td><span class="text-info">$2.700</span></td>
		            <td><span class="text-info">$2.900</span></td>
		            <td><span class="text-info">7.41%</span></td>
		        </tr>
		        <tr>
		            <td><span class="text-info">ENTRE 2 Y 5 SMLMV</span></td>
		            <td><span class="text-info">46.10%</span></td>
		            <td><span class="text-info">$10.600</span></td>
		            <td><span class="text-info">$11.300</span></td>
		            <td><span class="text-info">6.60%</span></td>
		        </tr>
		        <tr>
		            <td><span class="text-info">MAYOR A 5 SMLMV</span></td>
		            <td><span class="text-info">121.50%</span></td>
		            <td><span class="text-info">$27.900</span></td>
		            <td><span class="text-info">$29.900</span></td>
		            <td><span class="text-info">7.17%</span></td>
		        </tr>
		    </tbody></table>
		    <p>(1) Salario Mínimo Legal Mensual Vigente – Decreto 2209 de 2016</p>
		    <p>(2) Salario Mínimo Legal Diario Vigente</p>
		    <br/>
		    <h5>2.2. Valor de los Copagos 2017</h5>
		    <table class="table table-responsive text-center">
		        <tbody><tr>
		            <td><span class="text-info"><strong>Rango de IBC En smlmv (1)</strong></span></td>
		            <td><span class="text-info"><strong>Cuota en % Del Valor Del Servicio</strong></span></td>
		            <td><span class="text-info"><strong>Valor Máximo por Evento (2)</strong></span></td>
		            <td><span class="text-info"><strong>Valor cuota Moderadora (3)</strong></span></td>
		            <td><span class="text-info"><strong>Incremento 2017/2016</strong></span></td>
		        </tr>
		        <tr>
		            <td><span class="text-info">MENOR A 2 SMLMV</span></td>
		            <td><span class="text-info">11.50%</span></td>
		            <td><span class="text-info">$211.725</span></td>
		            <td><span class="text-info">$424.187</span></td>
		            <td><span class="text-info">7.00%</span></td>
		        </tr>
		        <tr>
		            <td><span class="text-info">ENTRE 2 Y 5 SMLMV</span></td>
		            <td><span class="text-info">17.30%</span></td>
		            <td><span class="text-info">$848.375</span></td>
		            <td><span class="text-info">$1.696.749</span></td>
		            <td><span class="text-info">7.00%</span></td>
		        </tr>
		        <tr>
		            <td><span class="text-info">MAYOR A 5 SMLMV</span></td>
		            <td><span class="text-info">23.00%</span></td>
		            <td><span class="text-info">$1.696.749</span></td>
		            <td><span class="text-info">$3.393.498</span></td>
		            <td><span class="text-info">7.00%</span></td>
		        </tr>
		    </tbody></table>
		    <p>(1) Salario Mínimo Legal Mensual Vigente – decreto 2209 de 2016</p>
		    <p>(2) Evento o servicio, por ejemplo una cirugía o una hospitalización con atención no quirúrgica</p>
		    <p>(3) Año calendario, agregado de Copagos del 1º de Enero al 31 de Diciembre de cada anualidad</p>
		</div>
	</div>
</section>

<script>
  selectNav();
</script>