<section class="section_1 section_ajustable">
<div class="container">
	<h2 class="titulo_azul text-center">HORARIOS DE ATENCI&Oacute;N</h2>
	<br/>
	<p class="titulo_verde"><strong>CONSULTA EXTERNA &nbsp;</strong></p>
	<p>Lunes a viernes de 7 a.m. a 6pm</p>
	<p>S&aacute;bados de 7 a.m. a 12 p.m.</p>
	<br/>
	<p class="titulo_verde"><strong>ODONTOLOG&Iacute;A</strong></p>
	<p>Lunes a viernes de 7 a.m. a 6 p.m.</p>
	<p>S&aacute;bados de 7 a.m. a 12 p.m.</p>
	<br/>
	<p class="titulo_verde"><strong>PREVENCION Y PROMOCI&Oacute;N:</strong></p>
	<br/>
	<p class="titulo_verde">VACUNACI&Oacute;N</p>
	<p>Lunes a viernes de 7 a.m. a 1 p.m. y de 2 p.m. a 4 p.m.</p>
	<p>S&aacute;bados de 7 a.m. a 9 a.m.</p>
	<br/>
	<p class="titulo_verde">PROGRAMA DEL JOVEN</p>
	<p>Lunes a viernes de 7 a.m. a 6 p.m.</p>
	<p>S&aacute;bados de 7 a.m. a 12 p.m.</p>
	<br/>
	<p class="titulo_verde">PROGRAMA ADULTO MAYOR</p>
	<p>Lunes a viernes de 7 a.m. a 6 p.m.</p>
	<p>S&aacute;bados de 7 a.m. a 9 a.m.</p>
	<br/>
	<p class="titulo_verde">PROGRAMA CONTROL PRENATAL</p>
	<p>&nbsp;Lunes a viernes de 7 a.m. a 6 p.m.</p>
	<p>S&aacute;bados de 7 a.m. a 9 a.m.</p>
	<br/>
	<p class="titulo_verde">PROGRAMA CONTROL HIPERTENSI&Oacute;N</p>
	<p>Lunes a viernes de 7 a.m. a 6 p.m.</p>
	<p>S&aacute;bados de 7 a.m. a 9 a.m.</p>
	<br/>
	<p class="titulo_verde">PROGRAMA PLANIFICACI&Oacute;N FAMILIAR</p>
	<p>Lunes a viernes de 7 a.m. a 6 p.m.</p>
	<p>S&aacute;bados de 7 a.m. a 12 p.m.</p>
	<br/>
	<p class="titulo_verde">TOMA DE CITOLOG&Iacute;AS</p>
	<p>Lunes a viernes de 7 a.m. a &nbsp;4 p.m.</p>
	<br/>
	<p class="titulo_verde">ENTREGA DE RESULTADOS DE CITOLOG&Iacute;AS</p>
	<p>Lunes a viernes de 7 a.m. a 4 p.m.</p>
	<br/>
	<p class="titulo_verde">LABORATORIO TOMA DE MUESTRAS</p>
	<p>Lunes a viernes de 7am &nbsp;a 9 a.m.</p>
	<p>S&aacute;bados de 8am &nbsp;a 9 a.m.</p>
	<br/>
	<p class="titulo_verde">ENTREGA DE RESULTADOS LABORATORIOS</p>
	<p>Lunes a viernes de 7 a.m. a 11 a.m. y de 1 a 4 p.m.</p>
	<p>S&aacute;bados de 7 a 10 a.m.</p>	
	</div>
</section>

<script>
  selectNav();
</script>