<section class="section_1 section_ajustable">
    <div>
        <div class="container">
            <div class="w3-content w3-display-container">
                <img class="mySlides img-responsive" style="width:100%;" src="images/banner/sion1.jpg">
                <img class="mySlides img-responsive" style="width:100%;" src="images/banner/sion2.jpg">
                <img class="mySlides img-responsive" style="width:100%;" src="images/banner/sion3.jpg">
                <img class="mySlides img-responsive" style="width:100%;" src="images/banner/sion4.jpg">
                <img class="mySlides img-responsive" style="width:100%;" src="images/banner/sion5.jpg">
                <img class="mySlides img-responsive" style="width:100%;" src="images/banner/sion6.jpg">
                <img class="mySlides img-responsive" style="width:100%;" src="images/banner/sion7.jpg">
                <img class="mySlides img-responsive" style="width:100%;" src="images/banner/sion8.jpg">
                <div class="w3-center w3-display-bottommiddle" style="width:40%;bottom:55px;opacity: 0.7;">
                    <div class="w3-left" onclick="plusDivs(-1)">&#10094;</div>
                    <div class="w3-right" onclick="plusDivs(1)">&#10095;</div>
                    <span class="w3-badge demo w3-border" onclick="currentDiv(1)"></span>
                    <span class="w3-badge demo w3-border" onclick="currentDiv(2)"></span>
                    <span class="w3-badge demo w3-border" onclick="currentDiv(3)"></span>
                    <span class="w3-badge demo w3-border" onclick="currentDiv(4)"></span>
                    <span class="w3-badge demo w3-border" onclick="currentDiv(5)"></span>
                    <span class="w3-badge demo w3-border" onclick="currentDiv(6)"></span>
                    <span class="w3-badge demo w3-border" onclick="currentDiv(7)"></span>
                    <span class="w3-badge demo w3-border" onclick="currentDiv(8)"></span>
                </div>
                <div class="w3-display-bottom w3-center w3-container w3-padding-16 descripcion_imagen">
                    <p><b>SOMOS SOLUCIÓN DE BIENESTAR</b></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section_2 section_ajustable">
    <div>
        <div class="container">
            <h2 class="titulo_azul text-center">Quienes Somos</h2>
            <p class="text-justify">Somos una empresa del sector Privado especializada en la asesoría y prestación de servicios de salud Integral y Laboral, fundamentada en su personal altamente calificado y en su sistema de Gestión integrado para la excelente prestación de los servicios de seguridad y salud, fomentando en nuestros clientes el más alto nivel de bienestar físico, mental y social.</p>
            <p class="text-justify">SALUD SION SAS, nace en respuesta a la creciente demanda de los usuarios, empleadores, empresas, contratistas, subcontratistas e independientes y demás personal de interés, en contar con un servicio completo de medicina familiar y laboral, con la finalidad de satisfacer las necesidades de prevención, promoción y conservación de la salud.</p>
        </div>
    </div>
</section>
<script>
selectNav($('#nav-item-inicio'));
carousel();
</script>
