<section class="section_1 section_ajustable">
    <div>
        <div class="container">
            <h2 class="titulo_azul text-center">Misión</h2>
            <p class="text-justify">Somos una empresa prestadora de servicios de salud integral y laboral con excelente asesoría en el área de gestión laboral y familiar, favoreciendo la salud física, mental, social de nuestros clientes y partes interesadas.</p>
        </div>
    </div>
</section>
<section class="section_2 section_ajustable">
    <div>
        <div class="container">
            <h2 class="titulo_azul text-center">Visión</h2>
            <p class="text-justify">En el año 2020, seremos reconocidos a nivel local y nacional, como empresa líder en la prestación de servicios en medicina laboral e integral, por eficacia y calidad en sus procesos y/o servicios, con cultura humanitaria, generando seguridad y confianza en la población colombiana.</p>
        </div>
    </div>
</section>
<section class="section_1 section_ajustable">
    <div>
        <div class="container">
            <h2 class="titulo_azul text-center">Valores Corporativos</h2>
            <p class="text-justify"><ul>
			 	<li style="text-align: justify;"><strong><em class="titulo_verde">Responsabilidad:</em></strong> Ser consciente que nuestros actos tienen consecuencias directas o indirectas de un hecho, evento que permite reflexionar sobre la calidad de nuestras actividades.</li>
			 	<li style="text-align: justify;"><strong><em class="titulo_verde">Integridad:</em> </strong>Capacidad de resolver la problemática en salud de los usuarios más allá de nuestras creencias y debilidades.</li>
			 	<li style="text-align: justify;"><strong><em class="titulo_verde">Calidad y excelencia:</em> </strong>Conjunto de prácticas sobresalientes en la gestión de la institución y de los procesos, orientados a la satisfacción de los usuarios y liderazgo de las personas.</li>
			 	<li style="text-align: justify;"><strong><em class="titulo_verde">Trabajo en equipo:</em> </strong>Lograr los objetivos deseados mediante la integración de las diferentes capacidades individuales de nuestros colaboradores.</li>
			 	<li style="text-align: justify;"><strong><em class="titulo_verde">Seguridad:</em> </strong>Sensación de total confianza que se tienen en los procesos de la compañía (ausencia de peligro – mitigación del riesgo).</li>
			 	<li style="text-align: justify;"><strong><em class="titulo_verde">Lealtad:</em> </strong>Sentimiento de respeto y fidelidad a los propios principios morales, a los compromisos establecidos en la compañía.</li>
			 	<li style="text-align: justify;"><strong><em class="titulo_verde">Comunicación efectiva:</em> </strong>Capacidad de informar oportuna y claramente, las acciones que se implementaran a nuestros usuarios y/o familiares para generar confianza y seguridad.</li>
			 	<li style="text-align: justify;"><strong><em class="titulo_verde">Respeto:</em> </strong>Es reconocer, apreciar y valorarme como persona, así como los demás y a mi entorno.</li>
				</ul>
			</p>
        </div>
    </div>
</section>
<section class="section_2 section_ajustable">
    <div>
        <div class="container">
            <h2 class="titulo_azul text-center">Objetivos Estrategicos</h2>
            <p class="text-justify">
	            <ol>
				 	<li>Garantizar la excelencia operativa de los servicios de salud, a través de un sistema de Gestión Integrado HSEQ.</li>
				 	<li>Innovar en el desarrollo integral del Talento Humano garantizando altos niveles de especialización en la realización de los procesos clínicos y administrativos.</li>
				 	<li>Desplegar posicionamiento y mercadeo en un programa que supere el contenido tradicional de organizaciones con igual objeto social o misional.</li>
				 	<li>Contar con un área de gestión del riesgo, de plantación estratégica en la organización que facilite o gestione los riesgos atribuibles a los servicios ofertados.</li>
				 	<li>Propender al grado más alto de satisfacción de los clientes (basados en parámetros de calidad, tiempo y precio), superar las expectativas de los usuarios.</li>
				 	<li>Optimizar los procesos de gestión basados en los recursos humanos y físicos, de la organización generando productividad y rentabilidad social y financiera.</li>
				</ol>
			</p>
        </div>
    </div>
</section>
<section class="section_1 section_ajustable">
    <div>
        <div class="container">
            <h2 class="titulo_azul text-center">Beneficios</h2>
            <p class="text-justify">
            <p style="text-align: justify;">En Salud Sion contamos con modernos equipos para las evaluaciones médicas ocupacionales y clínicas de laboratorios especializados:</p>
			<ul>
			 	<li>Amplias y cómodas instalaciones.</li>
			 	<li>Atención inmediata y personalizada (teléfonos directos PyP).</li>
			 	<li>Tecnología avanzada y de punta, para brindar un excelente servicio.</li>
			 	<li>Recurso humano profesional especializado.</li>
			 	<li>Contamos con la certificación de habilitación del área de vigilancia y control distrital.</li>
			 	<li>Sistemas de gestión de calidad en salud.</li>
			 	<li>Programas de mercadeo vip.</li>
			 	<li>Descuentos especiales por fidelización.</li>
			 	<li>Tarjeta preferencial en asesorías y capacitaciones.</li>
			 	<li>Programación automática de citas, para administración eficiente de su tiempo.</li>
			 	<li>Disponibilidad, capacidad operativa y logística para el desarrollo de evaluaciones medicas y especializadas a nuestros usuarios.</li>
			 	<li>Cómodos horarios de atención.</li>
			</ul>
			</p>
        </div>
    </div>
</section>

<script>
  selectNav($('#nav-item-nosotros'));
</script>