<section class="section_1">
    <div class="container">
        <h2 class="titulo_azul text-center">Nuestros servicios</h2>
        <p class="text-justify">Servicios de Salud y Asesorías Salud Sion SAS, es una entidad que se enfoca en el manejo integral de la salud de sus usuarios, por tal motivo, ofrecemos servicios completos y especializados de diversos servicios unipersonales y familiares, tales como:</p>
        <div id="accordion">
            <h3 id="consulta_externa">Consulta Externa</h3>
            <div class="text-center">
                <h4 class="titulo_verde text-center">MEDICINA GENERAL Y AMBULATORIA/ENFERMERÍA</h4>
                <p>(atención consulta domiciliaría, paciente crónico sin ventilador), Procedimiento de enfermería (tomas de tensión arterial, peso, talla, clínica de heridas).</p>
                <br/>
                <div class="col-md-8">
                    <p class="text-justify">
                        El presente servicio que les brinda atención a los usuarios a través de la consulta externa. Se atienden todas aquellas enfermedades que son de baja complejidad y que el médico general está en capacidad de resolver, sin necesidad de que el paciente deba ser remitido al especialista.
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="/images/image10.jpg" style="height:180px" />
                    <br/>
                </div>
            </div>
            <h3 id="odontologia">Odontología</h3>
            <div>
                <div class="row">
                    <div class="col-md-8">
                        <p class="text-justify">
                            Contamos con un equipo de odontólogos capacitados y entrenados en las diferentes ramas de la odontología, logrando de esta manera prestar un servicio integral y oportuno a nuestros usuarios.
                        </p>
                        <p class="text-justify">
                            Los objetivos establecidos por la IPS, en esta rama de la salud es Promover, proteger y recuperar la salud oral de todos los usuarios mejorando su calidad de vida, los servicios ofrecidos, están orientados a:
                            <ul>
                                <li>Prevenir las enfermedades bucales.</li>
                                <li>Armonizar los componentes dentales, esqueléticos y musculares del sistema orofacial.</li>
                                <li>Eliminar las irregularidades que conllevan a problemas irreversibles que pueden contribuir al dolor.</li>
                                <li>Preparación de la dentición para su rehabilitación.</li>
                                <li>Interceptar los síntomas asociados a los desórdenes articulares.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="/images/image14.png" style="height:180px" />
                    </div>
                </div>
            </div>
            <h3 id="pyp">Promoción y prevención (PyP)</h3>
            <div>
                <p class="text-justify">
                    SALUD SION SAS, brinda servicios y/o actividades de promoción y prevención (PyP) enfocados en cada una de las etapas del ciclo vital, proporcionando las herramientas para mejorar la salud y ejercer un mayor control sobre los determinantes de la misma. Estos programas buscan garantizar la protección oportuna de riesgos y la identificación precoz de la enfermedad, para  facilitar su diagnóstico y tratamiento oportuno, a fin de reducir el daño que puede causar, entre dichas actividades referenciamos algunos de los 12 programas:
                </p>
                <br/>
                <div class="row">
                    <h4 class="titulo_verde text-center">GESTANTES</h4>
                    <div class="col-md-12 text-center">
                        <img src="/images/image6.jpg" style="height:180px; padding-bottom:12px" />
                    </div>
                    <div class="col-md-12">
                        <ul>
                            <li>Control Prenatal.</li>
                            <li>Vacunación.</li>
                            <li>Entrega de micronutrientes (Hierro, Ácido Fólico y Calcio).</li>
                            <li>Consejería en lactancia materna.</li>
                            <li>Curso de preparación para la maternidad y la paternidad responsable.</li>
                        </ul>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <h4 class="titulo_verde text-center">INFANCIA: MENORES DE 10 AÑOS</h4>
                    <div class="col-md-12 text-center">
                        <img src="/images/image3.png" style="height:180px; padding-bottom:12px" />
                    </div>
                    <div class="col-md-12">
                        <ul>
                            <li>Vacunación.</li>
                            <li>Consulta de Crecimiento y desarrollo.</li>
                            <li>Salud oral: Control de placa, aplicación de flúor y sellantes.</li>
                            <li>Tamizaje visual a los 4 años.</li>
                            <li>Suministro de Hierro, Vitamina A y Antiparasitario.</li>
                        </ul>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <h4 class="titulo_verde text-center">JÓVENES Y ADOLESCENTES DE 10 A 29 AÑOS</h4>
                    <div class="col-md-12 text-center">
                        <img src="/images/image2.png" style="height:180px; padding-bottom:12px" />
                    </div>
                    <div class="col-md-12">
                        <ul>
                            <li>Consulta por medicina general.</li>
                            <li>Tamizaje visual a los 11 y 16 años.</li>
                            <li>Salud oral: Control de placa, detartraje, aplicación de flúor (hasta los 19 años) y sellantes (hasta los 15 años).</li>
                            <li>Consulta de Planificación familiar y entrega de métodos según las condiciones de cada persona (DIU, Orales, inyectables, implante subdérmico, pomero y, vasectomía).</li>
                        </ul>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <h4 class="titulo_verde text-center">PERSONA MAYOR: MAYORES DE 60 AÑOS</h4>
                    <div class="col-md-12 text-center">
                        <img src="/images/image15.jpg" style="height:180px; padding-bottom:12px" />
                    </div>
                    <div class="col-md-12">
                        <ul>
                            <li>Consulta por medicina general a los 60,65,70 75, 80 años y más.</li>
                            <li>Consulta por oftalmología a los 65, 70,75, 80 años y más.</li>
                            <li>Salud oral: Control de placa, detartraje.</li>
                            <li>Consulta por oftalmología a los 65, 70,75, 80 años y más.</li>
                            <li>Fortalecimiento del autocuidado.</li>
                            <li>Conocimiento de su enfermedad.</li>
                            <li>Manejo integral por diferentes profesionales.</li>
                            <li>Talleres con grupos similares.</li>
                            <li>Manejo por el médico de Puerta de entrada que permite seguimiento.</li>
                        </ul>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <h4 class="titulo_verde text-center">VACUNACION Y PYP</h4>
                    <div class="col-md-12 text-center">
                        <img src="/images/image16.jpg" style="height:180px; padding-bottom:12px" />
                    </div>
                    <div class="col-md-12">
                        <p class="text-justify">La vacunación consiste en introducir en el organismo un agente (bacteria, virus, molécula, etc.) desprovisto de patogenicidad, pero que conserva su inmunogenicidad (su capacidad de inducir una respuesta inmune). Cuando el sistema inmune vuelva a tener contacto con el agente patógeno, será capaz de defenderse y de proteger así a la persona vacunada contra la enfermedad. En Salud Sion garantizamos los servicios prestados de vacunación, con todos los recursos de acuerdo a los estándares de la OMS y autoridad local.</p>
                    </div>
                </div>
            </div>
            <h3 id="servicio_farmaceutico">Servicio farmacéutico</h3>
            <div>
                <div class="col-md-8">
                    <p class="text-justify">
                        Para atender las diferentes necesidades del mercado y de nuestros usuarios en Suministros Farmacéuticos, ofrecemos medicamentos esenciales y de excelente calidad.
                        <ul>
                            <li>Suministro de medicamentos esenciales contenidos en el POS, a los usuarios de Salud Sion SAS.</li>
                            <li>Información veraz y oportuna de medicamentos formulados por el profesional.</li>
                            <li>Orientación en el uso racional de los medicamentos de acuerdo a formula medica.</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="/images/image1.png" style="height:180px; padding-bottom:12px" />
                </div>
            </div>
            <h3 id="laboratorio_clinico">Laboratorio Clínico</h3>
            <div>
                <p class="text-justify">Ofertamos los siguientes ex&aacute;menes de laboratorios cl&iacute;nicos:
                    <table class="table table-responsive text-center">
                        <thead>
                            <tr>
                                <td><strong>INMUNOLOGICOS</strong></td>
                                <td><strong>HEMATOLOG&Iacute;A</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PCR</td>
                                <td>Hemogramas Completos</td>
                            </tr>
                            <tr>
                                <td>ASTO</td>
                                <td>Hemo-clasificaciones</td>
                            </tr>
                            <tr>
                                <td>RA-Test</td>
                                <td>Coombs Directo &ndash; Indirecto</td>
                            </tr>
                            <tr>
                                <td>Toxoplasma IGG - IGM</td>
                                <td>Siklemia</td>
                            </tr>
                            <tr>
                                <td>Ant&iacute;genos Febriles</td>
                                <td>Reticulositos</td>
                            </tr>
                            <tr>
                                <td>Dengue</td>
                                <td>Prueba de Coagulaci&oacute;n (PT-TPT) INR</td>
                            </tr>
                            <tr>
                                <td>Gravidex</td>
                                <td>OTROS</td>
                            </tr>
                            <tr>
                                <td>VDRL</td>
                                <td>Parcial de orina</td>
                            </tr>
                            <tr>
                                <td>Rubeola</td>
                                <td>Cropol&oacute;gico simple &ndash; seriado - dirigido</td>
                            </tr>
                            <tr>
                                <td>Citomegalovirus</td>
                                <td>Frotis vaginal</td>
                            </tr>
                            <tr>
                                <td>Herpes</td>
                                <td>KOH</td>
                            </tr>
                            <tr>
                                <td>TSH Neonatal</td>
                                <td>Otros no especificados</td>
                            </tr>
                            <tr>
                                <td>PSA (Ant&iacute;geno Prost&aacute;tico)</td>
                                <td>
                                    <p><span></span></p>
                                </td>
                            </tr>
                            <tr>
                                <td>VIH</td>
                                <td>
                                    <p><span></span></p>
                                </td>
                            </tr>
                            <tr>
                                <td>Hepatitis B</td>
                                <td>
                                    <p><span></span></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" rowspan="1"><strong>QUIMICA SANGUINEA</strong></td>
                            </tr>
                            <tr>
                                <td>Glicemia</td>
                                <td>Creatinina</td>
                            </tr>
                            <tr>
                                <td>Colesterol</td>
                                <td>CK-Total</td>
                            </tr>
                            <tr>
                                <td>Triglic&eacute;ridos</td>
                                <td>CK-MB</td>
                            </tr>
                            <tr>
                                <td>Colesterol HDL</td>
                                <td>Transaminasas GOT-GPT</td>
                            </tr>
                            <tr>
                                <td>Colesterol LDL</td>
                                <td>Bilirrubinas Total, Directa e Indirecta</td>
                            </tr>
                            <tr>
                                <td>Colesterol VLDL</td>
                                <td>Fosfatosa Acida &ndash; Alkalina</td>
                            </tr>
                            <tr>
                                <td>Acido urico</td>
                                <td>Prote&iacute;nas Totales</td>
                            </tr>
                            <tr>
                                <td>Urea &ndash; Bun</td>
                                <td>Albumina</td>
                            </tr>
                            <tr>
                                <td colspan="2" rowspan="1"><strong>Proteinuria - Creatinuria</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
            <h3 id="medicina_especializada">Medicina especializada</h3>
            <div>
                <div class="row">
                    <h4 class="titulo_verde text-center">PSICOLOGIA</h4>
                    <div class="col-md-8">
                        <p class="text-justify">
                            La salud es integral y por eso direccionamos nuestros esfuerzos a la salud mental de toda la población colombiana. Nuestros servicios están orientados a la atención de problemas emocionales como estados de depresión, estrés, fobias y pánico y estados patológicos conductuales y adaptativos en niños y adultos, como son el mutismo selectivo, el déficit de atención, la enuresis nocturna, agresividad infantil, entre otros.
                        </p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="/images/image4.jpg" style="height:180px; padding-bottom:12px" />
                    </div>
                </div>
                <div class="row">
                    <h4 class="titulo_verde text-center">MEDICINA INTERNA</h4>
                    <div class="col-md-6 text-center">
                        <img src="/images/image13.jpg" style="height:200px; padding-bottom:12px" />
                    </div>
                    <div class="col-md-6">
                        <p class="text-justify">
                            La medicina interna ofrece una visión amplia del paciente enfermo como un todo, ya que integra las distintas subespecialidades, el especialista en esta área puede acompañar al paciente a lo largo de su vida, desde la adolescencia hasta la ancianidad, preparándolo cuando requiere de un tratamiento quirúrgico, tanto de forma ambulatoria ante trastornos de la salud que no comprometan la vida como durante la hospitalización cuando el paciente amerite cuidados especiales.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <h4 class="titulo_verde text-center">ENDOCRINOLOGIA</h4>
                    <div class="col-md-6">
                        <p class="text-justify">
                            Salud Sion, a través de sus profesionales, fomentará la prevención y tratamientos a enfermedades como la diabetes y sus complicaciones, tales como la retinopatía, la nefropatía, la neuropatía, la cardiopatía y la enfermedad vascular periférica; la obesidad y sus complicaciones; los trastornos de la glándula tiroides, tales como el hipertiroidismo, el hipotiroidismo, los nódulos benignos, el bocio, la tiroiditis y el cáncer; el retraso del crecimiento en los niños, que puede deberse a múltiples causas hormonales, genéticas y ambientales; las alteraciones hormonales femeninas, tales como los disturbios de la menstruación, el exceso de vello, la falla ovárica precoz y la menopausia; las alteraciones hormonales masculinas, tales como el hipogonadismo (falla hormonal) y la infertilidad.
                        </p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img src="/images/image12.jpg" style="height:180px; padding-bottom:12px" />
                    </div>
                </div>
                <div class="row">
                    <h4 class="titulo_verde text-center">PEDIATRÍA (control de crecimiento y desarrollo)</h4>
                    <div class="col-md-4 text-center">
                        <img src="/images/image11.png" style="height:180px; padding-bottom:12px" />
                    </div>
                    <div class="col-md-8">
                        <p class="text-justify">
                            La población pediátrica sin duda amerita que se cuente con un grupo humano de profesionales de la más alta calidad, de tecnología de vanguardia que haga posible la atención de nuestros menores, caracterizándose por una atención amable, humana, eficiente.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <p class="text-justify">
                        Entre el alcance ofrecido en la IPS por la especialidad se diagnostica y trata enfermedades infecciosas, hipertensión arterial, diabetes, problemas metabólicos, trastornos de los lípidos en sangre, enfermedades respiratorias y trastornos digestivos, entre otros. Igualmente este especialista es el más indicado en el manejo de pacientes que reciben tratamiento con varios medicamentos de forma simultánea, en los que además de controlar las enfermedades de base es necesario monitorear la aparición de posibles efectos adversos o secundarios de los medicamentos o problemas derivados de las interacciones entre ellos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
$(function() {
    $("#accordion").accordion({
        heightStyle: "content",
        collapsible: true,
        active: false,
        beforeActivate: function(event, ui) {
            $(this).blur();
            $('html,body').animate({
                scrollTop: 0
            }, 'slow');
        }
    });
});
selectNav($('#nav-item-nuestros-servicios'));
</script>
